.container {
    text-align: center;
}

.block {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
}

.block-image {
    background-color: green;
    height: 100px;
    width: 100%;
}

.block-hidden {
    /*display: none;*/
    visibility: hidden;
}